*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

*::selection {
  background: $primary--color;
  color: $secondary--color;
}

html,
body {
  height: 100%;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $tertiary--color--darker;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: $tertiary--color;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.3;
  color: $tertiary--color--darker;
  font-family: 'Anonymous Pro', monospace;
  &::selection {
    background: $primary--color;
    color: $tertiary--color--darker;
  }
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 0.85rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: $primary--color;
  font-weight: 500;

  transition: color 0.2s;

  &:hover {
    color: $primary--color--darker;
  }
}

a,
p a {
  cursor: $hover--emoji--hand;
}

#content--container {
  padding: $short--spacing $medium--spacing;

  margin-top: $medium--spacing;

  flex: 1;
  z-index: 0;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  section {
    padding: 0 0 $larger--spacing;
  }

  .section--image {
    height: 80vw;
    max-height: 400px;
    width: 80vw;
    max-width: 400px;
    object-fit: cover;

    border: 5px solid $secondary--color;

    margin-bottom: $large--spacing;
  }

  .text--container {
    background: $secondary--color;
    margin-left: -$medium--spacing;
    margin-right: -$medium--spacing;
    padding: $medium--spacing;
    width: 100%;
    width: calc(100% + 6rem);
    max-width: 700px;
    max-width: max(50vw, 700px);

    h1 .dynamic--text--group {
      font-style: italic;
    }

    .base--button--template {
      margin-bottom: $shorter--spacing;
    }
  }

  .section--left--base {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 1;
  }

  .section--right--base {
    width: 100%;
    height: max-content;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: relative;
    z-index: 1;
  }

  .half--screen--section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
  }

  .invisible--content {
    transform: rotateX(-30deg);
    transition: 0.25s;
    opacity: 0;
  }

  * {
    transition: 0.25s;
  }
}
