$primary--color: #FF4B4B;
$primary--color--darker: #800000;
$primary--color--lighter: #FF8080;
$primary--hover--color: #80000055;

$secondary--color: #FFEEEE;
$secondary--color--darker: #ffCCCC;
$secondary--color--lighter: #FFFFFF;

$background--color: #121212;
$background--color--darker: #000000;
$background--color--lighter: #2c2c2c;
$background--hover--color: #00000055;
$background--hover--color--darker: #000000F0;

$larger--spacing: 12rem;
$large--spacing: 6rem;
$medium--spacing: 3rem;
$short--spacing: 1.5rem;
$shorter--spacing: 0.5rem;

$hover--emoji--love: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🥰</text></svg>") 16 0, auto;
$hover--emoji--mage: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🧙‍♂️</text></svg>") 16 0, auto;